*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}
